<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    backupGlobals="true"
    bootstrap="./phpunit-bootstrap.php"
    beStrictAboutTestsThatDoNotTestAnything="false"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    convertDeprecationsToExceptions="true"
    colors="true"
    forceCoversAnnotation="true">

    <testsuites>
        <testsuite name="PHPCSExtra">
            <directory suffix="UnitTest.php">./Modernize/Tests/</directory>
            <directory suffix="UnitTest.php">./NormalizedArrays/Tests/</directory>
            <directory suffix="UnitTest.php">./Universal/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Modernize/Sniffs/</directory>
            <directory suffix=".php">./NormalizedArrays/Sniffs/</directory>
            <directory suffix=".php">./Universal/Sniffs/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

</phpunit>
